.option-footer{
  padding-bottom: 20px;
}

.navbar-item:hover{
  background-color: transparent;
}

.icon-sosmed{
  margin: 0px 20px;
}

.size-sosmed{
	font-size: 48px;
}

.has-img-bg { 
  background-image: url('../assets/background.jpg') ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}